.login {
    background-color: black;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: gray;
}

.login__container {
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    /* box-shadow: 0 1px 3px #0000001f, 0 1px 3px #0000001f; */
    background-color: #0f0f0f;
}

.login__container > .MuiSvgIcon-root {
    color: gray;
}

.login__container > img {
    object-fit: contain;
    margin-bottom: 20px;
    height: 100px;
}

.login__container > button {
    font-size: 20px;
    margin-top: 10px;
    /* text-transform: inherit !important; ---> TO REMOVE UPPERCASE VALUE / INHERITS PARENT STYLE WHICH IS A NORMAL FONT */
}

.login__container > button:hover {
    color: grey !important;
}

