/* BODY CONTAINER 1 */
.body__containerOne {
    position: relative;
    background-color: #0f0f0f;
    height: 100vh;
}

.body__containerOne > h1 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* GAMES_CARD */
.gamesCard {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 50vh;
}

.gameCard__info {
    height: 60vh !important;
    min-width: 100px !important;
    transition: background-color 1s;
    cursor: pointer;
}

.gameCard__info:hover {
    background-color: #1f1f1f;
    color: black;
}

.gameCard__info > img {
    width: 15vw;
}

.gameCard__tagline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.3vw;
}

.gameCard__tagline > h3 {
    text-align: center;
    width: 15vw;
}

.gameCard__logo {
    display: flex;
    width: 15vw;
    align-items: center;
    justify-content: center;
}

.gameCard__logo > img {
    margin: 5px;
    width: 2vw;
}

.navigation__gameCard {
    position: absolute;
    bottom: 0;
    margin: 10px auto;
    background-color: black;
    color: grey;
    border: none;
    padding: 15px;
    outline: none;
    transition: background-color 1s;
    cursor: pointer;
}

.navigation__gameCard:hover {
    background-color: grey;
    color: black;
}

/* SWIPER */
.swiper-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 75vh !important;
}

.swiper-slide {
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
}

.swiper-button-prev , .swiper-button-next {
    top: 65vh !important;
    color: grey !important;
    padding: 10px;
    transition: color 500ms;
}

.swiper-button-prev:hover , .swiper-button-next:hover {
    color: black !important;
}