.body__containerFour {
    position: relative;
    background-color: black;
    height: 600px;
}

.body__containerFour > h1 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container__cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__insideUbiCards {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.container__insideUbiCards > img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    border-radius: 10px;
}

.container__cardsTitle {
    min-height: 30%;
    max-height: 80%;
    z-index: 1;
}

.container__cardsTitle > p > strong {
    position: absolute;
    width: 95%;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 1.625rem;
    padding: 20px 20px 20px 20px;
    color: white;
    opacity: 1;
    text-shadow: black;
    transition: color 500ms;
    cursor: pointer;
}

.container__cardsTitle > p > strong:hover {
    color: #0f0f0f;
}

.subTitle > strong {
    font-weight: 500 !important;
    font-size: 1em !important;
    bottom: 0 !important;
    top: 45% !important;
}

@media screen and (max-width: 700px) {
    .body__containerFour {
        height: 1800px;
    }

    .container__cards {
        display: flex;
        flex-direction: column;
    }

    .container__insideUbiCards {
        margin-bottom: 50px;
    }
}