.section {
    display: flex;
    align-items: center;
    /* border-bottom-width: 2px; */
    padding: 15px;
    min-width: 200px;
    color: grey;
    border-width: 0 !important;
    cursor: pointer;
}

.section--selected, .section:hover  {
    background-color: #0f0f0f;
    border-width: 3px !important;
}

.section > h4 {
    font-size: 14px;
    margin-left: 15px;
}