.body {
    width: 100vw;
    object-fit: cover;
}

.body__banner {
    display: flex;
    height: 8vh;
    min-width: auto;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: flex-end;
}

.body__banner > h1 {
    font-size: 2vw;
    width: 3vw;
    min-width: 50vw;
    margin: 3vh;
    /* margin-right: 150px; */
}

.body__banner > button {
    background-color: black;
    border: none;
    margin: auto 20px;
    width: 10vw;
    min-height: 40px;
    font-size: 1.5vw;
    color: grey;
    outline: none;
    transition: background-color 1s;
    cursor: pointer;
}

.body__banner > button:hover {
    background-color: #0f0f0f;
    color: white;
}

.body__container {
    width: 100%;
    height: 100%;
}

.body__list {
    list-style-type: none;
    padding: 0px;
}

.body__navigation{
    position:absolute;
    bottom: 25px;
    height: 80px;
    width: 40px;
    opacity: 0.7;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 500ms;
}

.body__navigation:hover{
    opacity: 1;
}

#prev{
    left: 0px;
}
#next{
    right: 0px;
}

.gameIntro {
    position: relative;
    display: flex;
    flex-direction: column;
}

.gameIntro > img {
    position: relative;
    object-fit: contain;
    width: 100%;
}

.gameIntro__tagline {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgrey;
    justify-content: center;
    z-index: 1;
    left: 20%;
    right: 20%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    bottom: 28vw;
}

.gameIntro__tagline > p > strong {
    font-size: 5vw;
}

.gameIntro__tagline > p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    /* left:  */
}

.gameIntro__buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.gameIntro__buttons > button {
    display: flex;
    background-color: black;
    color: grey;
    border: none;
    width: 10vw;
    outline: none;
    margin-top: 2vh;
    font-size: 0.6em;
    padding: 0.5em;
    min-height: 4vh;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms;
    cursor: pointer;
}

.gameIntro__buttons > button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.gameIntro__toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
}

.gameIntro__toggle > img {
    position: absolute;
    width: 15vw;
    bottom: 5vw;
}

/* LEFT */
.gameIntro__nameForward {
    position: absolute;
    left: 20px;
    bottom: 40px;
    display: flex;
    text-align: center;
    font-size: 1.5vw;
}

.gameIntro__nameForward > ul {
    list-style: none;
    display: flex;
    opacity: 0.4;
}

.gameIntro__nameForward > ul > li {
    width: 18vw;
    cursor: pointer;
}

/* RIGHT */
.gameIntro__nameBackward {
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    text-align: center;
    margin-right: 20px;
    font-size: 1.5vw;
}

.gameIntro__nameBackward > ul {
    list-style: none;
    display: flex;
    opacity: 0.4;
}

.gameIntro__nameBackward > ul > li {
    width: 18vw;
    cursor: pointer;
}

/* SLIDE EFFECTS */

