* {
    box-sizing: border-box;
}

.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header__logo {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 4vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

.header__image {
    width: 2.3vw;
    margin: 10px 2px 10px;
}

.header__logo > h4 {
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.3vw;
}

.header__items {
    width: fit-content;
    /* min-width: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header__items > h4 {
    color: grey;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.4vw;
}

.header__items > h4:hover {
    color: white;
    cursor: pointer;
}

.header__search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 1vw;
    color: grey;
    cursor: pointer;
}

.header__search > input {
    background-color: #0f0f0f;
    border: none;
    margin-right: 1vw;
}

.header__login {
    color: grey;
    display: flex;
    margin-right: 1vw;
    margin-left: 1vw;
    align-items: center;
}

.header__login:hover {
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .header {
        width: auto;
    }

    .header__items {
        justify-content: center;
    }
}